<div class="small-12 calc-index-section column border-left" data-equalizer-watch>
  <div class="section-panel">
    <div>
      <span class="icon-banner" aria-hidden="true"></span>
      <span class="panel-title">
        <%= t("legislation.sections.index.text_toc") %>
      </span>
    </div>
  </div>
  <div class="section-index">
    <ul>
      <% counter_level = 1 %>
      <% sections.each.with_index(1) do |section, index| %>
        <%= render '/legislation/reviews/section_index',
          section: section, indexes: [index], counter_level: counter_level
        %>
      <% end %>
    </ul>
  </div>
</div>

<div class="small-12 calc-text-section column border-right border-left" data-equalizer-watch>
  <div class="section-panel">
    <div>
      <span class="panel-title">
        <%= t("legislation.sections.index.text_body") %>
      </span>
    </div>
  </div>
  <div class="section-content">
    <% counter_level = 1 %>
    <% sections.each.with_index(1) do |section, index| %>
      <%= render '/legislation/reviews/section',
        section: section, indexes: [index], counter_level: counter_level
      %>
    <% end %>
  </div>
</div>
