<div class="row">
  <%= form_for([:admin, @review], url: url) do |f| %>

    <%= render "shared/errors", resource: @review %>

    <div class="row">
      <div class="small-12 column">
        <%= f.text_field(:title, require: true) %>
      </div>
    </div>

    <div class="row">
      <div class="actions small-12 medium-4 column">
        <%= f.submit(
          class: "button expanded large",
          value: t("admin.legislation.reviews.form.save")
        ) %>
      </div>
    </div>

  <% end %>
</div>
