<% if user_signed_in? && current_user.organization? %>
  <div class="participation-not-allowed section-warning" style="display:none" aria-hidden="false">
    <p>
      <%= t("legislation.reviews.participation.organizations") %>
    </p>
  </div>
<% elsif user_signed_in? && current_user.unverified? %>
  <div class="participation-not-allowed section-warning" style="display:none" aria-hidden="false">
    <p>
      <%= sanitize(t("legislation.reviews.participation.verified_only",
          verify_account: link_to_verify_account)) %>
    </p>
  </div>
<% elsif !@process.review_phase.open? %>
  <div class="participation-not-allowed section-warning" style="display:none" aria-hidden="false">
    <%= t("legislation.reviews.participation.review_phase_not_open") %>
  </div>
<% elsif !user_signed_in? %>
  <div class="participation-not-allowed section-warning" style="display:none" aria-hidden="false">
    <%= sanitize(t("legislation.reviews.participation.unauthenticated",
          signin: link_to_signin, signup: link_to_signup)) %>
  </div>
<% end %>
